<!DOCTYPE html>
<html>
    <head>
        <title>{% block title "Welcome on my site!" %}</title>
        {% block stylesheets %}
            <link href="../src/css/style.css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block content "" %}
        {% block javascripts %}
            
        {% endblock %}
    </body>
</html>
